@media screen and (max-width: 1200px) {
    #outline #focus #projectpage {
        #projectholder {
            justify-content: unset;
        }

        #projectholder::after {
            content: "";
            flex: 0 0 2.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    #outline #focus {
        #about {
            #headshot {
                height: 25rem;
                width: 25rem;
                transform: none;
            }

            #card {
                transform: none;
                margin-top: 2rem;
            }
        }

        #skills {
            div {
                ul {
                    li {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
