@media screen and (max-width: 1550px) {
    #outline #focus #projectpage {
        #projectholder {
            justify-content: unset;
        }

        #projectholder::after {
            content: "";
            flex: 0 0 2.5rem;
        }

        .arrow {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        margin: 0;
        transform: translate(-100%, 200%);
    }

    #outline #focus {
        #about {
            #headshot {
                transform: none;
            }

            #card {
                transform: none;
                margin-top: 2rem;
            }
        }

        #skills {
            div {
                ul {
                    li {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    h2 {
        font-size: 4.5rem;
    }

    header {
        height: 5rem;
        transform: translate(-125%, 180%);

        img {
            max-width: 5rem;
        }
    }

    nav {
        ul {
            padding: 0 0.5em;

            li a {
                font-size: 1.5rem;
                padding: 0.8em 0.5em;
            }
        }
    }

    #outline #focus {
        #about {
            #headshot {
                height: 22rem;
                width: 22rem;
            }

            #card {
                min-width: 30rem;
                // margin: 2.5rem;
            }
        }

        #skills {
            div {
                ul {
                    i {
                        font-size: 4rem;
                    }

                    li {
                        font-size: 1.5rem;
                        margin: 1rem;
                    }
                }
            }
        }
    }
}
