header {
    display: flex;

    .activator {
        padding: 1em;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background-color: black;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: rosybrown;
        border-radius: 0 5em 5em 0;
        padding: 0.5em;

        ul {
            display: flex;

            li a {
                display: block;
                padding: 0.5em;
                margin: 0 0.5em;
                border-radius: 50%;
                transition: background-color 0.3s;

                &:hover {
                    background: sandybrown;
                }
            }
        }
    }
}
