header {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    width: 6rem;
    height: 5.5rem;
    z-index: 10;
    margin-top: 1rem;
    margin-left: 1rem;

    .ham {
        // activator
        padding: 1em;
        border-radius: 100%;
        cursor: pointer;

        //glass
        background: #f1a393;
        border: solid 2px transparent;
        box-shadow: 2px 3px 3px rgba(46, 54, 68, 0.3);
    }

    img {
        width: 100%;
        max-width: 5.5rem;
    }
}

nav {
    border-radius: 0 2rem 2rem 0;
    border: solid 2px transparent;
    box-shadow: 2px 3px 3px rgba(46, 54, 68, 0.3);
    z-index: 20;
    background: white;

    // animation
    clip-path: ellipse(50% 50% at -50% 50%);

    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        padding: 0 1em;

        li a {
            display: block;
            padding: 0.5em;
            margin: 0 0.5em;
            text-decoration: none;
            font-size: 2rem;
            color: #464646;

            // hide icons initially
            opacity: 0;
            transform: translateX(-10px);

            &:hover {
                color: #d48272;
            }
        }
    }
}
