@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$Noto: "Noto Sans JP", sans-serif;

#main {
    display: grid;
    height: 90vh;
    grid-template-columns:
        10% minmax(250px, 1fr) minmax(400px, 660px) minmax(250px, 1fr)
        10%;
    grid-template-rows: 20% minmax(300px, 1.5fr) minmax(200px, 1fr) 20%;
    position: relative;

    nav {
        grid-column: 4/5;
        grid-row: 1/2;
        margin: 2rem auto;
        // background-color: #dd6f5a;
        background-color: #728dd1;
        height: 5rem;
        border-radius: 1rem;

        ul {
            height: 100%;
            list-style: none;
            width: 200px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a {
                color: white;
                font-family: $Noto;
                font-size: 1.7rem;
                text-decoration: none;
            }
        }
    }

    #headshot {
        height: 300px;
        width: 300px;
        // grid-column: 2/3;
        // grid-row: 2/3;
        grid-column: 3/4;
        grid-row: 2/3;
        transform: translate(-70%, -25%);
        // margin-left: 30px;
        z-index: 1;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid transparent;

        img {
            object-fit: contain;
            width: 100%;
        }
    }

    // #banner {
    //     grid-column: 1/3;
    //     grid-row: 2/4;
    //     // position: absolute;
    //     // height: 1000px;
    //     background: url(/images/unedited/blob.svg);
    //     background-repeat: no-repeat;
    //     background-size: fixed;
    //     // background-position: left;
    //     transform: translate(-20%, 50%) scale(3);

    //     svg {
    //         // position: absolute;
    //         // left: -60rem;
    //         // top: -90rem;
    //         // height: 2500px;
    //         width: 100%;
    //         height: 100%;
    //     }
    // }

    // #banner {
    //     // grid-row: 2/3;
    //     // grid-column: 1/6;
    //     grid-column: 1/4;
    //     grid-row: 1/2;
    //     // background-color: black;
    //     // background-image: url(/images/unedited/option2.jpg);
    //     // background-size: 2000px;
    //     // background-position: 0% 55%;
    //     // background-repeat: no-repeat;
    //     // background-position: 0% 45%;
    //     // background-position: top;
    //     // opacity: 0.9;
    //     // transform: translate(-25%, -35%) scale(1.5);
    //     // transform: translateY(20%);
    // }

    // #bg {
    //     grid-area: 1 / 1 / span 4 / span 4;
    //     background: url(/images/unedited/blob1.svg);
    //     background-repeat: no-repeat;
    //     position: relative;
    //     height: 150rem;
    //     left: -50rem;
    //     transform: scale(1.3) rotate(-140deg);
    //     z-index: -1;
    //     overflow: hidden;
    // }

    // #bg,
    // #bg2 {
    //     grid-area: 1 / 1 / span 4 / span 4;
    //     // background: url(/images/unedited/wave1.svg);
    //     // background: url(/images/unedited/wave.svg);
    //     background: url(/images/unedited/blob1.svg);
    //     // background: url(/images/unedited/blob.svg);
    //     background-repeat: no-repeat;
    //     height: 150rem;
    //     width: 100%;
    //     position: absolute;
    //     top: 30rem;
    //     // top: 80rem;
    //     // left: -55rem;
    //     z-index: -1;
    //     transform: scale(1.5) rotate(-140deg);
    // }

    // #bg2 {
    //     background: url(/images/unedited/blob1.svg);
    //     background-repeat: no-repeat;
    //     height: 150rem;
    //     width: 200%;
    //     top: 40rem;
    //     left: -35rem;
    //     transform: rotate(-140deg);
    // }

    #bio {
        grid-column: 3/4;
        grid-row: 2/3;
        border-radius: 3rem;
        max-width: 600px;
        // height: 300px;
        margin: auto;
        transform: translateY(30%);
        padding: 2rem 4rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        // align-items: center;
        font-family: "Noto Sans JP", sans-serif;

        // glassmorphism stuff
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        border: solid 2px transparent;
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);

        h2 {
            font-size: 5rem;
            margin-bottom: 2rem;
            color: rgb(45, 45, 45);
            font-weight: 700;
        }

        h3 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            color: rgb(45, 45, 45);
        }

        p {
            font-size: 1.5rem;
            color: rgb(55, 55, 55);
            font-weight: 400;
        }

        ul {
            margin-top: 3rem;
            align-self: flex-end;
            list-style: none;
            display: flex;
            font-size: 2.5rem;

            li {
                padding: 0.42rem 1rem;
                margin: 0 0.5rem;
                border-radius: 50%;

                a {
                    color: rgb(70, 70, 70);
                }
            }

            .githubhover {
                padding: 0.36rem 1.15rem;
            }

            .linkhover:hover {
                background-color: #7385b8;
                transition: 0.8s;
                border-radius: 50%;
                a {
                    color: white;
                }
            }

            .githubhover:hover {
                background-color: #f6a190;
                transition: 0.8s;
                border-radius: 50%;
                a {
                    color: white;
                }
            }
        }
    }
}

#banner {
    grid-row: 1/6;
    grid-column: 1/6;
    background: url(/images/unedited/blob.svg);
    background-repeat: no-repeat;
    height: 150rem;
    width: 100%;
    position: absolute;
    top: -5rem;
    left: -50rem;
}
